*:not(dialog) {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
